{% extends 'cms/cms_base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <style>
        .my_content {
            margin: 30px 100px;
        }

        #tip {
            width: 200px;
            height: 30px;
            background-color: lightgray;
            opacity: 0.5;
            margin: 0px auto;
            padding-top: 5px;
            text-align: center;
            color: red;
            display: none;
            position: absolute;
            top: 250px;
            left: 45%;
        }
    </style>
    <h2>笔趣阁采集</h2>
    <div class="my_content">

        <div>
            <h3>根据分类采集</h3>
            <div>
                <span>小说分类</span>
                <select name="noveltype">
                    <option value="0">请选择小说分类</option>
                    <option value="1">最新小说</option>
                    <option value="4">玄幻小说</option>
                    <option value="5">修真小说</option>
                    <option value="3">都市小说</option>
                    <option value="7">穿越小说</option>
                    <option value="8">科幻小说</option>
                </select>
                <span style="color: red" id="type_msg"></span>
            </div>
            <div>
                <span>分类页码</span>
                <input type="text" name="page">
                <span style="color: red" id="page_msg"></span>
            </div>
        </div>
        <button id="bqgtypespider">采集</button>


    </div>
    <div id="tip"></div>

{% endblock %}

{% block foot %}
    <script src="{{ static('js/custom.js') }}"></script>

{% endblock %}
