{% extends 'cms/cms_base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <style>
        .my_content {
            margin: 30px 100px;
        }

        #tip {
            width: 200px;
            height: 30px;
            background-color: lightgray;
            opacity: 0.5;
            margin: 0px auto;
            padding-top: 5px;
            text-align: center;
            color: red;
            display: none;
            position: absolute;
            top: 250px;
            left: 45%;
        }
    </style>
    <h2>免费小说之王</h2>
    <div class="my_content">

        <div>
            <h3>根据分类采集</h3>
            <div>
                <span>小说分类</span>
                <select name="noveltype">
                    <option value="0">请选择小说分类</option>
                    {% for type in novel_type %}
                        <option value="{{ type.id }}">{{ type.type }}</option>
                    {% endfor %}
                </select>
                <span style="color: red" id="type_msg"></span>
            </div>
            <div>
                <span>分类页码</span>
                <input type="text" name="page">
                <span style="color: red" id="page_msg"></span>
            </div>
            <div>
                <span>每页限制</span>
                <input type="text" name="limit" placeholder="">
                <span style="color: red" id="limit_msg"></span>
            </div>
        </div>
        <button id="typespider">采集</button>

        <hr>
        <div>
            <h3>根据小说采集</h3>
            <div>
                <span>小说名字</span>
                <input type="text" name="novelname">
            </div>
            <button id="namespider">采集</button>
        </div>
    </div>
    <div id="tip"></div>

{% endblock %}

{% block foot %}
    <script src="{{ static('js/custom.js') }}"></script>

{% endblock %}
